<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcherubini.wannabeakotlindev">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.gcherubini.wannabeakotlindev.WannaBeAKotlinDevApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.gcherubini.wannabeakotlindev.view.Home.HomeActivity">

        </activity>

        <activity android:name="com.gcherubini.wannabeakotlindev.view.Home.HomeActivityWithViewModel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.gcherubini.wannabeakotlindev.view.Welcome.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.gcherubini.wannabeakotlindev.view.RecyclerList.ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.gcherubini.wannabeakotlindev.view.GithubRepositories.GithubReposActivity"
            android:label="@string/title_activity_git_user_repos"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.gcherubini.wannabeakotlindev.view.SharedPrefs.SharedPrefsActivity"
            android:label="@string/title_activity_shared_prefs"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.gcherubini.wannabeakotlindev.view.RealmDatabase.RealmDbActivity"
            android:label="@string/title_activity_realm_db"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>